html,
body {
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Inter", sans-serif;
}

img {
  width: 100%;
}

article img {
  filter: brightness(90%);
}

h1 {
  font-family: "Inter tight", sans-serif;
  margin-top: 2rem;
  font-size: 3rem;
}

h2 {
  font-family: "Roboto Mono", monospace;
  color: rgb(69, 68, 68);
  text-align: center;
  font-size: large;
  font-weight: 300;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: rgb(61, 76, 106);
  text-decoration-thickness: 0.3rem;
}

h3 {
  margin-bottom: 0;
  margin-top: 1rem;
}

li {
  margin: 0.1rem;
}

a {
  text-decoration: none;
  color: black;
}

span {
  font-weight: 700;
  color: white;
  background-color: black;
}

footer {
  text-align: center;
  padding: 3rem;
  font-weight: 600;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.work {
  background-color: white;
}

.work a:hover {
  background-color: rgb(243, 248, 233);
}

.navLinks {
  float: right;
  list-style-type: none;
  font-family: "Roboto Mono", monospace;
  margin-top: 4.3rem;
}

.navLinks li {
  display: inline-block;
  font-size: 0.8rem;
}

.navLinks a {
  color: black;
  text-decoration: none;
  padding: 0.1rem;
  margin: 0.1rem;
}

.navLinks a:hover {
  background-color: rgb(54, 79, 4);
  font-size: 0.9rem;
  color: white;
  transition: background-color 0.2s ease;
}

.tool {
  font-size: 11px;
  margin-top: 0.5rem;
  font-weight: 400;
  color: white;
}

.datawrapper {
  background-color: #1e81a2;
  border-radius: 3px;
  padding: 1.75px;
  padding-left: 5.2px;
  padding-right: 5.2px;
  margin-right: 0.7%;
  line-height: 100%;
  vertical-align: middle;
}

.r {
  background-color: #70a5d4;
  border-radius: 3px;
  padding: 1.75px;
  padding-left: 5.2px;
  padding-right: 5.2px;
  margin-right: 0.7%;
  line-height: 100%;
  vertical-align: middle;
}

.leaflet {
  background-color: #42b94c;
  border-radius: 3px;
  padding: 1.75px;
  padding-left: 5.2px;
  padding-right: 5.2px;
  margin-right: 0.7%;
  line-height: 100%;
  vertical-align: middle;
}

.web {
  background-color: #9b700b;
  border-radius: 3px;
  padding: 1.75px;
  padding-left: 5.2px;
  padding-right: 5.2px;
  margin-right: 0.7%;
  line-height: 100%;
  vertical-align: middle;
}

.QGIS {
  background-color: #65915b;
  border-radius: 3px;
  padding: 1.75px;
  padding-left: 5.2px;
  padding-right: 5.2px;
  margin-right: 0.7%;
  line-height: 100%;
  vertical-align: middle;
}

.three {
  background-color: #00a9f1;
  border-radius: 3px;
  padding: 1.75px;
  padding-left: 5.2px;
  padding-right: 5.2px;
  margin-right: 0.7%;
  line-height: 100%;
  vertical-align: middle;
}

.illustrator {
  background-color: #b76818;
  border-radius: 3px;
  padding: 1.75px;
  padding-left: 5.2px;
  padding-right: 5.2px;
  margin-right: 0.7%;
  line-height: 100%;
  vertical-align: middle;
}

.d3 {
  background-color: #d46434;
  border-radius: 3px;
  padding: 1.75px;
  padding-left: 5.2px;
  padding-right: 5.2px;
  margin-right: 0.7%;
  line-height: 100%;
  vertical-align: middle;
}

.svelte {
  background-color: #d1320a;
  border-radius: 3px;
  padding: 1.75px;
  padding-left: 5.2px;
  padding-right: 5.2px;
  margin-right: 0.7%;
  line-height: 100%;
  vertical-align: middle;
}

.figma {
  background-color: #9019db;
  border-radius: 3px;
  padding: 1.75px;
  padding-left: 5.2px;
  padding-right: 5.2px;
  margin-right: 0.7%;
  line-height: 100%;
  vertical-align: middle;
}

.tableau {
  background-color: #3459d4;
  border-radius: 3px;
  padding: 1.75px;
  padding-left: 5.2px;
  padding-right: 5.2px;
  margin-right: 0.7%;
  line-height: 100%;
  vertical-align: middle;
}

.mapbox {
  background-color: #000000;
  border-radius: 3px;
  padding: 1.75px;
  padding-left: 5.2px;
  padding-right: 5.2px;
  margin-right: 0.7%;
  line-height: 100%;
  vertical-align: middle;
}

.data .box {
  height: 410px;
  border: 1.2px solid #b6b6ab;
  box-shadow: 0px 1px #b6b6ab;
  box-sizing: border-box;
  padding: 10px;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.three-d .box {
  height: 450px;
  border: 1.2px solid #b6b6ab;
  box-shadow: 0px 1px #b6b6ab;
  box-sizing: border-box;
  padding: 10px;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.others-writing .box {
  height: 450px;
  border: 1.2px solid #b6b6ab;
  box-shadow: 0px 1px #b6b6ab;
  box-sizing: border-box;
  padding: 10px;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.others-video .box {
  height: 430px;
  border: 1.2px solid #b6b6ab;
  box-shadow: 0px 1px #b6b6ab;
  box-sizing: border-box;
  padding: 10px;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.box:hover {
  transform: scale(1.05);
}

.box img {
  height: 270px;
  object-fit: cover;
}

.name {
  margin-left: 0;
}

.bio {
  margin-top: 0;
  line-height: 1.5rem;
}

#reporter {
  font-weight: bold;
}

.contact {
  border-width: 0.08rem;
  margin-bottom: 2rem;
}

.contact img {
  width: 90%;
}

.row [class^="col-7"] {
  float: left;
  margin-left: 0;
}

.row [class^="col-5"] {
  float: left;
  margin-left: 0;
}

.stem img {
  filter: brightness(95%);
}

.guess img {
  filter: brightness(100%);
}

.line img {
  filter: brightness(100%);
}

.senior img {
  filter: brightness(100%);
}

.heat-map img {
  filter: brightness(100%);
}

.name {
  margin-left: 0;
}

/* h3 a {
  color: black;
  text-decoration: none;
}

h3 a:hover {
  background-color: rgb(243, 248, 233);
} */

.dynamic-gradient,
footer {
  font-weight: bold;
  background: linear-gradient(to right, navy, darkgreen, darkred);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient-animation 10s linear infinite;
}

.date {
  font-size: 0.9rem;
  margin: 0;
}

.email,
.twitter,
.github,
.linkedin {
  width: 1.4rem;
}

#data,
#writing,
#video {
  font-weight: 400;
  border-color: #000;
  border-width: 0.05rem;
  padding-bottom: 0rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-right: 2rem;
}

@media only screen and (min-width: 300px) {
  html,
  body {
    width: 100%;
  }

  .container {
    width: 90%;
  }

  h1 {
    font-size: 3rem;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .navLinks {
    margin-top: 0.5rem;
    float: left;
    padding-left: 0;
  }

  .row [class^="col-6"] {
    margin-bottom: 2rem;
  }

  .bio {
    width: 400px;
  }

  .box {
    height: 480px;
  }
}

@media only screen and (min-width: 640px) {
  h1 {
    font-size: 4rem;
    padding: 0;
  }

  .navLinks {
    margin-top: 0.5rem;
    float: left;
    padding-left: 0;
  }

  .bio {
    width: 500px;
  }

  .col-7,
  .col-5 {
    width: 96%;
  }
}

@media only screen and (min-width: 850px) {
  .navLinks {
    float: left;
    list-style-type: none;
    font-family: "Roboto Mono", monospace;
  }

  .col-7,
  .col-5 {
    width: 96%;
  }
}

@media only screen and (min-width: 1280px) {
  html,
  body {
    width: 75%;
  }
  h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
  }

  .navLinks {
    float: right;
    list-style-type: none;
    font-family: "Roboto Mono", monospace;
    margin-top: 4rem;
  }

  .bio {
    width: 500px;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-7 {
    width: 54.33%;
  }
}
